
/* contact */
.contact-sector {
    width: 95%;
    margin:8% auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    /* background-color: aqua; */
}

.contact-header{
    margin-bottom: 4%;
    border-left: 3px solid var(--accent);
    padding-left: 3%;
}

.contact-title{
    font-size:50px;
}

.contact-sub{
    font-size: 22px;
    font-weight: normal;
    opacity: .8l;
}

.contact-block {
    display: flex;
    gap: 30px;
    width:100%;
}

.contact-form {
    width:100%;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 2% 0;
}

.contact-form .input-block{
    margin: auto;
        width:90%;
}

.contact-form .input-block input,
.contact-form .input-block textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-top: 3%;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.contact-form button {
    padding: 16px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 3%;
    width: 100%;
}

.social-block{
    text-align: center;
    border: none;
    border-top: 2px solid var(--accent);
        width: 50%;
        margin: auto;
       margin-top: 2%;
}

.social-block legend{
    padding: 0 3% ;
    font-size: 20px;
         margin: 3% auto;
         align-self: center;
}

.social-block svg{
    width: 30px;
    color: var(--secondary);
}

.mapouter{
    width: 100%;
    height: 100vh;
}

iframe{
    width: 100%;
    height: 100vh;
}

@media (max-width: 600px) {
    
/* contact */
.contact-sector {
    margin:15% auto;
}

.contact-header{
    margin-bottom: 5%;
    border-left: 5px solid var(--accent);
    padding-left: 3%;
}

.contact-title{
    font-size:35px;
}

.contact-sub{
    font-size: 15px;
    font-weight: normal;
    opacity: .8;
}

.contact-block {
    flex-wrap: wrap;
    gap: 50px;
    width:100%;
}

.contact-form{
    padding: 8% 0;
}

.contact-form .input-block{
    margin: auto;
        width:90%;
}

.contact-form .input-block textarea {
   height: 25vh;
}

.contact-form button {
    margin-top: 5%;
}

.social-block{
    border-top: 1px solid var(--accent);
        width: 70%;
       margin-top: 3%;
}

.social-block legend{
    padding: 0 5% ;
    font-size: 15px;
         margin: 5% auto;
}

.social-block svg{
    width: 35px;
}

.mapouter{
    height: 60vh;
}

}
